
@{
    ViewBag.Title = "Bills Payment";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/BillPayment/billPayment.css" rel="stylesheet" />
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    @*    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
    <link href="~/Content/css/BillPayment/Airtimemodal.css" rel="stylesheet" />
    <link href="~/Content/Loader/Loader.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>

    @*<div class="row" id="divPasscode" style="padding:200px 400px 400px 400px">

        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
            <div class="infodata">
                <div>
                    <input type="text" placeholder="Passcode" id="txtPasscode" maxlength="4">
                    <span class="form-validations-error" id="txtPasscodeError"></span>
                </div>
            </div>
        </div>

        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 padding-top">
            <button id="btnVerifyPasscode" type="button" class="btn btn-primary">Verify Passcode</button>
        </div>
    </div>*@


    <div id="divMain" class="lowspace">
        <div class="bills">
            @*<span class="txt">Bills Payment</span>*@
            <div class="billtype">
                @*need to uncomment below comment*@
                <div class="lowerspace cursor-pointer" id="airtimeDiv" data-toggle="modal" data-target="#airtimeModal">
                    <div>
                        <img src="~/Content/images/Group 50150.svg" />
                    </div>
                    <p class="smalltxt">Airtime</p>
                </div>

                @*<div class="lowerspace cursor-pointer" id="InternetDiv" data-toggle="modal" data-target="#internetModal">
                        <div>
                            <img class="space" src="~/Content/images/wifi.png" />
                        </div>
                        <p class="smalltxt diff">Internet</p>
                    </div>*@

                <div class="lowerspace cursor-pointer" id="cableTvDiv" data-toggle="modal" data-target="#cableTvModal">
                    <div id="divShowTvModal">
                        <img class="space" src="~/Content/images/Group 50151.svg">
                    </div>
                    <p class="smalltxt diff">Cable TV</p>
                </div>

                <div class="lowerspace cursor-pointer" id="electricityDiv" data-toggle="modal" data-target="#electricityModal">
                    <div>
                        <img src="~/Content/images/Electricity.png" />
                    </div>
                    <p class="smalltxt diff1">Electricity</p>
                </div>

                <div class="lowerspace cursor-pointer" id="dataBundleDiv" data-toggle="modal" data-target="#dataBundleModal">
                    <div>
                        <img src="~/Content/images/Internet.svg" />
                    </div>
                    <p class="smalltxt diff1">Data Bundle</p>
                </div>
                @*<div class="lowerspace cursor-pointer" id="WalletToBankDiv" data-toggle="modal" data-target="#walletToBankModal">
                        <div>

                            <img src="~/Content/images/WallettoBank/Icon.svg" />
                        </div>
                        <p class="smalltxt diff1">Wallet To Bank</p>
                    </div>*@



            </div>
        </div>

        <div class="bills bill-padding-top">
            <span class="txt">Travels</span>
            <div class="billtype">
                <div class="lowerspace opacity cursor-not-allowed">
                    <div>
                        <img src="~/Content/images/Group 50176.svg">
                    </div>
                    <p class="smalltxt">Cab</p>
                </div>

                <div class="lowerspace opacity cursor-not-allowed">
                    <div>
                        <img class="space" src="~/Content/images/Group 50163.svg">
                    </div>
                    <p class="smalltxt diff">Bus Tickets</p>
                </div>

                <div class="lowerspace opacity cursor-not-allowed">
                    <div>
                        <img class="space" src="~/Content/images/Group 50502 (1).png">
                    </div>
                    <p class="smalltxt diff1">Train Tickets</p>
                </div>

                <div class="lowerspace opacity cursor-not-allowed">
                    <div>
                        <img class="space" src="~/Content/images/Group 50168.svg">
                    </div>
                    <p class="smalltxt diff1">Plane Tickets</p>
                </div>
            </div>
        </div>

        <div class="bills bill-padding-top">
            <span class="txt">Others</span>
            <div class="billtype">
                <div class="lowerspace opacity cursor-not-allowed">
                    <div>
                        <img src="~/Content/images/Group 50181.svg" />
                    </div>
                    <p class="smalltxt">E-Commerce</p>
                </div>

                <div class="lowerspace opacity cursor-not-allowed">
                    <div>
                        <img class="space" src="~/Content/images/Group 50503 (1).png">
                    </div>
                    <p class="smalltxt diff">Groceries</p>
                </div>

                <div class="lowerspace opacity cursor-not-allowed">
                    <div>
                        <img class="space" src="~/Content/images/Group 50183.svg">
                    </div>
                    <p class="smalltxt diff1">Education</p>
                </div>

                <div class="lowerspace opacity cursor-not-allowed">
                    <div>
                        <img class="space" src="~/Content/images/Group 12436.svg">
                    </div>
                    <p class="smalltxt diff1">Foods</p>
                </div>
            </div>
        </div>

    </div>

    @*airtime modal for payment*@
    <div class="modal" tabindex="-1" id="airtimeModal" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="loader" id="loader1"></div>
                <div class="modal-header">
                    <h3 class="modal-title">Airtime</h3>
                    <div data-dismiss="modal" class="airtime-close-btn-container">
                        <img src="~/Content/images/close.svg" id="BtnCloseAirtime" />

                    </div>
                </div>
                <div class="modal-body">
                    <div class="midguard">
                        <div class="row">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    @* <label for="" class="label">Operator Name</label>*@
                                    <div>
                                        @*<input type="text" placeholder="Enter your operator name">*@
                                        <select id="ddlAirtimeOperator" class="operator">
                                            <option value="">Select Operator</option>
                                        </select>
                                        <span class="form-validations-error" id="AirtimeOperatorError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    @*<label for="" class="label">Mobile Number</label>*@
                                    <div class="rela">
                                        <div class="abso"><p>+234</p></div>
                                        <input type="text" class="numberdata" placeholder="Mobile Number" id="txtMobileNumberAirtime" minlength="10" maxlength="11">
                                    </div>
                                    <span class="form-validations-error" id="AirtimeMobileError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    @* <label for="" class="label">Amount</label>*@
                                    <div>
                                        <input type="text" placeholder="Amount" id="txtAmount" maxlength="9">
                                        <span class="form-validations-error" id="AirtimeAmountError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button class="submitdata" id="btnAirtimePay">Proceed to Recharge</button>
                </div>
            </div>
        </div>
    </div>


    @*cable tv modal for payment*@
    <div class="modal" tabindex="-1" id="cableTvModal" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="loader" id="loader1"></div>
                <div class="modal-header">
                    <h3 class="modal-title">Cable TV</h3>
                    <div data-dismiss="modal" class="airtime-close-btn-container">
                        <img src="~/Content/images/close.svg" id="BtnCloseAirtime" />

                    </div>
                </div>
                <div class="modal-body">
                    <div class="midguard">
                        <div class="row">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Operator Name</label>
                                    <div>
                                        @*<input type="text" placeholder="Enter your operator name">*@
                                        <select id="ddlTVOperator" class="operator">
                                            <option value="">Select Operator</option>
                                        </select>
                                        <span class="form-validations-error" id="CableTvOperatorError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Subsctiption Type</label>
                                    <div>
                                        <select id="ddlSubsctiptionType" class="operator">
                                            <option value="1">Subscription Package</option>
                                            <option value="2">Top Up</option>
                                        </select>
                                        <span class="form-validations-error" id="CableTvOperatorError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row padding-top" id="divTVProduct1">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label id="lblTVProduct1" for="" class="label">Product Name</label>
                                    <div>
                                        @*<input type="text" placeholder="Enter your operator name">*@
                                        <select id="ddlTVProduct1" class="operator">
                                            <option value="">Select Product</option>
                                        </select>
                                        <span class="form-validations-error" id="CableTvProductError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Smart Card Number</label>
                                    <div>
                                        <input type="text" placeholder="Smart Card Number" id="cableTvSmartCardNumber" minlength="11" maxlength="20">
                                    </div>
                                    <div>
                                        <span style="color:gray" id="ownerName"></span>
                                    </div>
                                    <span class="form-validations-error" id="CableTvMobileError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Amount</label>
                                    <div>
                                        <input type="text" placeholder="Amount" id="cableTvAmount" maxlength="9" readonly>
                                    </div>
                                    <span class="form-validations-error" id="CableTvAmountError"></span>
                                    <span class="form-validations-error" id="CableTvCommissionAmount"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="submitdata" id="btnCableTvPay">Proceed to Recharge</button>
                </div>
            </div>
        </div>
    </div>

    @*internet modal for payment*@
    <div class="modal" tabindex="-1" id="internetModal" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="loader" id="loader1"></div>
                <div class="modal-header">
                    <h3 class="modal-title">Internet</h3>
                    <div data-dismiss="modal" class="airtime-close-btn-container">
                        <img src="~/Content/images/close.svg" id="BtnCloseAirtime" />

                    </div>
                </div>
                <div class="modal-body">
                    <div class="midguard">
                        <div class="row">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Operator Name</label>
                                    <div>
                                        @*<input type="text" placeholder="Enter your operator name">*@
                                        <select id="ddlInternetOperator" class="operator">
                                            <option value="">Select Operator</option>
                                        </select>
                                        <span class="form-validations-error" id="InternetOperatorError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Product Name</label>
                                    <div>
                                        @*<input type="text" placeholder="Enter your operator name">*@
                                        <select id="ddlInternetProduct" class="operator">
                                            <option value="">Select Product</option>
                                        </select>
                                        <span class="form-validations-error" id="InternetProductError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Mobile Number</label>
                                    <div class="rela">
                                        <div class="abso"><p>+234</p></div>
                                        <input type="text" class="numberdata" placeholder="Mobile Number" id="txtMobileNumberInternet" minlength="10" maxlength="11">
                                    </div>
                                    <span class="form-validations-error" id="InternetMobileError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Amount</label>
                                    <div>
                                        <input type="text" placeholder="Amount" id="InternetAmount" maxlength="9" readonly>
                                    </div>
                                    <span class="form-validations-error" id="InternetAmountError"></span>
                                    <span class="form-validations-error" id="InternetCommissionAmount"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="submitdata" id="btnInternetPay">Proceed to Recharge</button>
                </div>
            </div>
        </div>
    </div>

    @*electricity modal for payment*@
    <div class="modal" tabindex="-1" id="electricityModal" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="loader" id="loader1"></div>
                <div class="modal-header">
                    <h3 class="modal-title">Electricity</h3>
                    <div data-dismiss="modal" class="airtime-close-btn-container">
                        <img src="~/Content/images/close.svg" id="BtnCloseAirtime" />

                    </div>
                </div>
                <div class="modal-body">
                    <div class="midguard">
                        <div class="row">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Operator Name</label>
                                    <div>
                                        @*<input type="text" placeholder="Enter your operator name">*@
                                        <select id="ddlElectricityOperator" class="operator">
                                            <option value="">Select Operator</option>
                                        </select>
                                        <span class="form-validations-error" id="ElectricityOperatorError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Mobile number</label>
                                    <div>
                                        <div>
                                            <input type="text" placeholder="Mobile Number" id="electricityMobileNumber" minlength="11" maxlength="11">
                                        </div>
                                        <span class="form-validations-error" id="ElectricityProductError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top" id="meterVerifiyDiv">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">

                                    <div>
                                        <div>
                                            <span id="txtZeavCustomerMeterName">


                                            </span>
                                            <div>
                                                <span id="txtCustomerMeterAddress">


                                                </span>
                                            </div>

                                        </div>

                                        <div>
                                            <span id="txtCustomerMeterOutstanding">


                                            </span>
                                            <span id="txtCustomerMeterRepayment">


                                            </span>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Meter Number</label>
                                    <div>
                                        <input type="text" placeholder="Meter Number" id="electricityMeterNumber" minlength="11" maxlength="11">
                                    </div>
                                    <span class="form-validations-error" id="ElectricityMobileError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Amount</label>
                                    <div>
                                        <input type="text" placeholder="Amount" id="electricityAmount" maxlength="9">
                                    </div>
                                    <span class="form-validations-error" id="ElectricityAmountError"></span>
                                    <span class="form-validations-error" id="ElectricityCommissionAmount"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="submitdata" id="btnElectricityPay">Proceed to Recharge</button>
                </div>
            </div>
        </div>
    </div>

    @*data bundle modal for payment*@
    <div class="modal" tabindex="-1" id="dataBundleModal" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="loader" id="loader1"></div>
                <div class="modal-header">
                    <h3 class="modal-title">Data Bundle</h3>
                    <div data-dismiss="modal" class="airtime-close-btn-container">
                        <img src="~/Content/images/close.svg" id="BtnCloseAirtime" />

                    </div>
                </div>
                <div class="modal-body">
                    <div class="midguard">
                        <div class="row">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Operator Name</label>
                                    <div>
                                        @*<input type="text" placeholder="Enter your operator name">*@
                                        <select id="ddlDataBundleOperator" class="operator">
                                            <option value="">Select Operator</option>
                                        </select>
                                        <span class="form-validations-error" id="DataBundleOperatorError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Product Name</label>
                                    <div>
                                        @*<input type="text" placeholder="Enter your operator name">*@
                                        <select id="ddlDataBundleProduct" class="operator">
                                            <option value="">Select Product</option>
                                        </select>
                                        <span class="form-validations-error" id="DataBundleProductError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">

                                    <div class="infodata">
                                        <label for="" class="label">Mobile Number</label>
                                        <div class="rela">
                                            <div class="abso"><p>+234</p></div>
                                            <input type="text" class="numberdata" placeholder="Mobile Number" id="dataBundleMobileNumber" minlength="10" maxlength="11">
                                        </div>
                                        <span class="form-validations-error" id="DataBundleMobileError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row padding-top">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="infodata">
                                    <label for="" class="label">Amount</label>
                                    <div>
                                        <input type="text" placeholder="Amount" id="dataBundleAmount" maxlength="9" readonly>
                                    </div>
                                    <span class="form-validations-error" id="DataBundleAmountError"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="submitdata" id="btnDataBundlePay">Proceed to Recharge</button>
                </div>
            </div>
        </div>
    </div>

    @*Wallet to bank transaction*@
    @*<div class="modal" tabindex="-1" id="walletToBankModal" aria-labelledby="exampleModalCenterTitle">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="loader" id="loader1"></div>
                    <div class="modal-header">
                        <h3 class="modal-title">Wallet To Bank</h3>
                        <div data-dismiss="modal" class="airtime-close-btn-container">
                            <img src="~/Content/images/close.svg" id="BtnCloseAirtime" />

                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="midguard">
                            <div class="row">
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                    <div class="infodata">
                                        <label for="" class="label">Bank Name</label>
                                        <div>
                                            <select id="ddlbankList" class="operator">
                                                <option value="">Select Bank</option>
                                            </select>
                                            <span class="form-validations-error" id="BankError"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row padding-top">
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                    <div class="infodata">
                                        <label for="" class="label">Account Number</label>
                                        <div>
                                            <input type="text" placeholder="Account Number" id="txtBankAccountNumber" maxlength="12" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                                        </div>
                                        <span class="form-validations-error" id="bankAccountNumberError"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-top">
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                    <div class="infodata">
                                        <label for="" class="label">Beneficiary Name</label>
                                        <div>
                                            <input type="text" placeholder="Beneficiary Name" id="txtBankBeneficiaryName" maxlength="30">
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row padding-top">
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                    <div class="infodata">
                                        <label for="" class="label">Amount</label>
                                        <div>
                                            <input type="text" placeholder="Amount" id="bankTransferAmount" maxlength="9" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                                        </div>
                                        <span class="form-validations-error" id="bankTransferAmountError"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="submitdata" id="btnWalletToBankPay">Proceed to Pay</button>
                    </div>
                </div>
            </div>
        </div>*@

</body>
</html>

<script src="~/Content/js/BillPayments/BillPayment.js"></script>
<script src="~/Content/js/BillPayments/TVBillPayment.js"></script>
<script src="~/Content/js/BillPayments/InternetBillPayment.js"></script>
<script src="~/Content/js/BillPayments/DataBundles.js"></script>
<script src="~/Content/js/BillPayments/ElectricityPayment.js"></script>
@*<script src="~/Content/js/BillPayments/WalletToBank.js"></script>*@