<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<appSettings>

		<!--Lidya services start-->
		<add key="LidyaAuthUrl" value="https://webapi.lidya.info/v7/Collect/authentication" />
		<add key="LidyaAuthUsername" value="gerih@paymasta.co" />
		<add key="LidyaAuthPassword" value="Cloud$22" />
		<add key="LidyaAuthHeader" value="WebApp" />
		<add key="LidyaMandateCreateUrl" value="https://webapi.lidya.info/v7/Collect/Create" />
		<add key="TypeVariable" value="variable" />
		<!--below line need to uncomment when use-->
		<!--<add key="LidyaMandateGetUrl" value="https://webapi.lidya.info/v7/Collect/Detail?enterprise_id=30724&collect_id=18637" />-->
		<!--Lidya services End-->

		<add key="GetImagePath" value="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" />
		<!--NIN number verify-->
		<add key="NinVerifyUrl" value="https://vapi.verifyme.ng/v1/verifications/identities/nin/" />
		<add key="NinSecretKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjExOTMyNywiZW52IjoibGl2ZSIsImlhdCI6MTY0NTYzMjI2Mn0.up-ThvtxsIEo-0Iypk6nGmw2qNYcHKH0shFgPqgYjIU" />
		<add key="vNinVerifyUrl" value="https://vapi.verifyme.ng/v1/verifications/identities/virtual-nin/" />
		<!--creds for OTP Route Mobile Provider-->
		<add key="RouteMobileEndPoint" value="http://ngn.rmlconnect.net/bulksms/bulksms" />
		<add key="RouteUsername" value="paymasta" />
		<add key="RoutePassword" value="m2K)5Nf*" />
		<add key="RouteSmppServer" value="api.rmlconnect.net" />
		<add key="RouteSmppPort" value="2351" />
		<add key="RouteSource" value="Paymasta" />
		<!--End Route mobile-->

		<!--QoreId-->
		<add key="QoreIdAuthTokenUrl" value="https://api.qoreid.com/token" />
		<add key="QoreIdClientId" value="TIJJ53CGOJQ03693MQBA" />
		<add key="QoreIdSecretKey" value="209b96eec7ff4ef498bc1af2323de198" />
		<add key="QoreIdBvnNubanUrl" value="https://api.qoreid.com/v1/ng/identities/bvn-nuban" />
		<add key="QoreIdVNninUrl" value="https://api.qoreid.com/v1/ng/identities/virtual-nin/" />

		<add key="EmailForEWaAlertDomino" value="Mdominojr@paymasta.co" />
		<add key="EmailForEWaAlertGerald" value="gerih@paymasta.co" />
		
		<add key="BankListFile" value="D:\\Projects\\paymastanewdesign\\paymasta.web\\PayMasta.API\\HtmlTemplates\\Banklist.json" />
		<!--QoreId end-->

		<!--Pouchii Core Wallet Documentation-->
		<!--<add key="WalletExternal" value="https://walletdemo.remita.net/api/wallet-external" />
		<add key="schemeId" value="5061794d61737461" />
		<add key="AuthenticatePouchii" value="https://walletdemo.remita.net/api/authenticate" />
		<add key="CustomerWalletAccounts" value="https://walletdemo.remita.net/api/customer_wallet-accounts" />
		<add key="billersOperator" value="https://walletdemo.remita.net/api/itex/billers" />
		<add key="billersPlans" value="https://walletdemo.remita.net/api/itex/lookup/data" />
		<add key="meterValidate" value="https://walletdemo.remita.net/api/itex/validate/meter" />
		<add key="Bouquets" value="https://walletdemo.remita.net/api/itex/multichoice/bouquets" />
		<add key="Validatemultichoice" value="https://walletdemo.remita.net/api/itex/validate/multichoice" />
		<add key="Validatestartimes" value="https://walletdemo.remita.net/api/itex/validate/startimes" />
		<add key="InternetBunldes" value="https://walletdemo.remita.net/api/itex/internet/bundles" />
		<add key="InternetValidation" value="https://walletdemo.remita.net/api/itex/internet/validation" />
		<add key="PurchaseVtu" value="https://walletdemo.remita.net/api/itex/purchase/vtu" />

		<add key="MultichoicePurchase" value="https://walletdemo.remita.net/api/itex/subscribe/multichoice" />
		<add key="ElectricityPurchase" value="https://walletdemo.remita.net/api/itex/purchase/electricity" />
		<add key="DataPurchase" value="https://walletdemo.remita.net/api/itex/subscribe/data" />
		<add key="SubscribeStartimes" value="https://walletdemo.remita.net/api/itex/subscribe/startimes" />
		<add key="SubscribeInternet" value="https://walletdemo.remita.net/api/itex/internet/subscribe" />-->
		<add key="WalletExternal" value="https://wallet.remita.net/api/wallet-external" />
		<add key="schemeId" value="5061794d61737461" />
		<add key="AuthenticatePouchii" value="https://wallet.remita.net/api/authenticate" />
		<add key="CustomerWalletAccounts" value="https://wallet.remita.net/api/customer_wallet-accounts" />
		<add key="billersOperator" value="https://wallet.remita.net/api/itex/billers" />
		<add key="billersPlans" value="https://wallet.remita.net/api/itex/lookup/data" />
		<add key="meterValidate" value="https://wallet.remita.net/api/itex/validate/meter" />
		<add key="Bouquets" value="https://wallet.remita.net/api/itex/multichoice/bouquets" />
		<add key="Validatemultichoice" value="https://wallet.remita.net/api/itex/validate/multichoice" />
		<add key="Validatestartimes" value="https://wallet.remita.net/api/itex/validate/startimes" />
		<add key="InternetBunldes" value="https://wallet.remita.net/api/itex/internet/bundles" />
		<add key="InternetValidation" value="https://wallet.remita.net/api/itex/internet/validation" />
		<add key="PurchaseVtu" value="https://wallet.remita.net/api/itex/purchase/vtu" />
		<add key="MultichoicePurchase" value="https://wallet.remita.net/api/itex/subscribe/multichoice" />
		<add key="ElectricityPurchase" value="https://wallet.remita.net/api/itex/purchase/electricity" />
		<add key="DataPurchase" value="https://wallet.remita.net/api/itex/subscribe/data" />
		<add key="SubscribeStartimes" value="https://wallet.remita.net/api/itex/subscribe/startimes" />
		<add key="SubscribeInternet" value="https://wallet.remita.net/api/itex/internet/subscribe" />
		<add key="ChangeWalletPassword" value="https://wallet.remita.net/api/changelostpassword" />
		<add key="PINNUMBER" value="1234" />
		<add key="RetrieveNubanNumber" value="https://wallet.remita.net/api/nuban/retrieve" />
		<add key="BankListUrl" value="https://wallet.remita.net/api/banks/commercial" />
		<add key="SendMoneyToBank" value="https://wallet.remita.net/api/send-money" />
		<add key="UpdatePin" value="https://wallet.remita.net/api/account/update-pin" />
		<add key="CustomerWallets" value="https://wallet.remita.net/api/customer_wallets" />
		<add key="VerifyAccount" value="https://wallet.remita.net/api/verify-account" />
		<add key="CurrentBalanceAndNuban" value="https://wallet.remita.net/api/customer-wallet-accounts-scheme" />
		<!--End Pouchii Core Wallet Documentation-->

		<add key="PrivateKey" value="ccfb4ff9-8e89-43ae-8f5c-c9a9b15ed02b" />
		<add key="PublicKey" value="ccfb4ff9-8e89-43ae-8f5c-c9a9b15ed02b" />
		<!--FlutterWave Details-->
		<add key="FlutterWaveVertualAccountUrl" value="https://api.flutterwave.com/v3/virtual-account-numbers" />
		<add key="FlutterWaveAirtimeOperator" value="https://api.flutterwave.com/v3/bill-categories?airtime=1" />
		<add key="FlutterWaveInternetOperator" value="https://api.flutterwave.com/v3/bill-categories?data_bundle=1" />
		<add key="FlutterWaveInternetWifiOperator" value="https://api.flutterwave.com/v3/bill-categories?internet=1" />
		<add key="FlutterWaveTvOperator" value="https://api.flutterwave.com/v3/bill-categories?cables=1" />
		<add key="FlutterWaveBillsOperator" value="https://api.flutterwave.com/v3/bill-categories?data_bundle=1" />
		<add key="FlutterWaveBillPayMentUrl" value="https://api.flutterwave.com/v3/bills" />
		<add key="FlutterWaveElectricityOperator" value="https://api.flutterwave.com/v3/bill-categories?power=1" />
		<!--<add key="FlutterWaveSecretKey" value="FLWSECK_TEST-defb37c7141bf911aa8db35b8f3dea5b-X" />-->
		<add key="FlutterWaveSecretKey" value="FLWSECK-1cb7256f5b78630f659f09645784cd04-X" />
		<add key="FlutterWaveBillerCodefilter" value="https://api.flutterwave.com/v3/bill-categories?biller_code=" />
		<add key="FlutterWaveBulkBillPayMentUrl" value="https://api.flutterwave.com/v3/bulk-bills" />
		<!--https://api.flutterwave.com/v3/bill-categories?data_bundle=1 for mobile-->
		<!--https://api.flutterwave.com/v3/bill-categories?internet=1   for wifi-->

		<!--https://api.flutterwave.com/v3/bill-categories?biller_code=BIL140-->

		<!--https://api.flutterwave.com/v3/bill-categories?biller_code=BIL110-->
		<!--FlutterWave End-->
		<!--Azure send grid detail for email-->
		<add key="sendgridKey" value="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" />
		<add key="SendEmailFrom" value="rajdeepshakya77@gmail.com" />
		<add key="DisplayName" value="PayMasta" />
		<!--Azure send grid detail for email end-->
		<!--Email Verify-->
		<add key="HostNameAdmin" value="http://104.45.194.41:8080" />
		<add key="VerifyMailLink" value="VerifyAccount/Index" />


		<!--SMTP DETAILS-->
		<add key="SMTP_USERNAME" value="AKIA3E2NWVBKQ7G4CPGD" />
		<add key="SMTP_PASSWORD" value="BKlkjTcRzAn4TM1qKX8p+MbLFQHjxaDnhjijo8miLqSq" />
		<add key="CONFIGSET" value="ConfigSet" />
		<add key="HOST" value="email-smtp.us-east-1.amazonaws.com" />
		<add key="FROM" value="dukkan@bsa.qa" />
		<add key="FROMNAME" value="Dukkan" />
		<add key="PORT" value="587" />
		<!--SMS Twilio-->
		<add key="AccountSidTwilio" value="" />
		<add key="AuthTokenTwilio" value="" />
		<add key="MessagingServiceSid" value="" />
		<!--SMS Twilio end-->

		<!--SMS-->

		<add key="SMS_Path" value="https://connectsms.vodafone.com.qa/SMSConnect/SendServlet" />
		<add key="SMS_application" value="http_gw830" />
		<add key="SMS_source" value="97657" />
		<add key="SMS_Password" value="l8ij108r" />
		<add key="SMS_mask" value="Dukkan" />

		<!--JWT Token DETAILS start-->
		<add key="JwtKey" value="db3OIsj+BXE9NZDy0t8W3TcNekrF+2d/1sFnWG4HnV8TZY30iTOdtVWJG8abWvB1GlOgJuQZdcF2Luqm/hccMw==" />
		<add key="JwtExpireDays" value="365.001" />
		<add key="JwtIssuer" value="https://localhost:44359" />
		<!--JWT Token DETAILS end-->

		<!--Bank start-->
		<add key="GetNIPBanks" value="http://192.168.156.27:8888/postingrest/GetNIPBanks" />
		<add key="GetNIPAccount" value="http://192.168.156.27:8888/postingrest/GetNIPAccount" />
		<add key="NIPFundTransfer" value="http://192.168.156.27:8888/postingrest/NIPFundTransfer" />
		<add key="ProvidusFundTransfer" value="http://192.168.156.27:8888/postingrest/ProvidusFundTransfer" />
		<add key="GetProvidusAccount" value="http://192.168.156.27:8888/postingrest/GetProvidusAccount" />
		<add key="WidgetLink" value="https://api.okra.ng/v2/links/new" />
		<add key="BankUserName" value="lastmile" />
		<add key="BankPassword" value="1A5tM!13.pR0()2$vIq" />
		<add key="currencyCode" value="NGN" />
		<add key="narration" value="Testing" />
		<!--Bank end-->

		<!--Express wallet start-->
		<add key="ExpressWalletSecretKey" value="sk_sandbox_ZIrdschwdd2I1H3wKI56gU2qqzUCMCygOKCXMQaZQyF81lVo" />
		<add key="ExpressWalletPublicKey" value="pk_sandbox_hkMBnDQBXT914ORNFBIlP0hsDxcjjzZ3BPQPwO9vLPItR9l7" />
		<add key="ExpressWalletBaseUrl" value="http://xpresswallet.providusbank.com:5000/api/v1" />
		<add key="CreateExpressWallet" value="/wallet" />
		<add key="ExpressWalletToWallet" value="/transfer/wallet" />
		<add key="GetExpressWallet" value="/wallet/customer?customerId=" />
		<add key="ExpressWalletToBankVerify" value="/transfer/account/details?" />
		<add key="ExpressWalletToBankTransfer" value="/transfer/bank/customer" />
		<add key="ExpressBankList" value="/transfer/banks" />
		<add key="ExpressWalletDebit" value="/wallet/debit" />
		<!--Express end-->

		<!--Zealvend start-->
		<add key="ZealVendBaseurl" value="https://zealvend.com/api" />
		<add key="ZealVendAuthTokenEndpoint" value="/login" />
		<add key="ZealVendAirtime" value="/airtime/topup" />
		<add key="ZealPayTvVendEndpoint" value="/tv/vend" />
		<add key="ZealPayTvTopupEndpoint" value="/tv/topup" />
		<add key="ZealPayTvProductEndpoint" value="/tv/products?product=" />
		<add key="ZealPayTvVerifyEndpoint" value="/tv/verify" />
		<add key="ZealPayElectricityEndpoint" value="/power/vend" />
		<add key="ZealPayElectricityMeterEndpoint" value="/power/verify" />
		<add key="ZealPayDataNetworkEndpoint" value="/data/bundles?network=" />
		<add key="ZealPayDataPayEndpoint" value="/data/vend" />
		<add key="ZealEmail" value="hello@paymasta.co" />
		<add key="ZealPassword" value="Dec@corn27" />
		<!--Zealvend end-->

		<!--Okra Details start-->
		<add key="OkraLinkUrl" value="https://api.okra.ng/v2/links/new" />
		<add key="OkraUserName" value="Lastmile Financial Services" />
		<add key="Okralogo" value="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/faqwali2w92bqfphgbwg" />
		<add key="Okrasupport_email" value="geralderih@gmail.com" />
		<add key="okracallback_url" value="https://apidev.paymasta.co/api/CallBackController/WidgetCallBackResponse" />
		<add key="continue_cta" value="OK" />
		<add key="success_url" value="OK" />
		<add key="OkraToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2MThmNTA3OTEyYmQ4NzAwZjNmYjAzMmYiLCJpYXQiOjE2MzY3ODIyMDJ9.7V8FbJEHyRqmoONWD-pm6J70VRPRIvLSQkez0pHIwBw" />
		<add key="WidgetLink" value="https://v3-app.okra.ng/szGg00_Iw" />
		<add key="OkraGetBankList" value="https://api.okra.ng/v2/banks/list" />
		<!--Okra end-->
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<connectionStrings>
		<!---Live-->
		<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=dukkan-live.c9m58nvbueho.ap-south-1.rds.amazonaws.com;Database=DukkanDB;User Id=Dukkan_live; Password=Dgs$#S12cvx!;" />-->

		<!---Live-QA-->
		<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=paymastadev.database.windows.net;Database=PayMasta_Dev;User Id=geralderih@lastmilefin.onmicrosoft.com@paymastadev.database.windows.net; Password=K@ching$21;" />

		<!---QA-->
		<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=dukaan-staging-db.c9m58nvbueho.ap-south-1.rds.amazonaws.com;Database=DukkanDB_QA;User Id=Dukaan_Staging_User; Password=Dgs$#S12cvx!;" />-->

		<!---local-->
		<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=RAJDEEP\SQLEXPRESS;Database=PayMasta_Dev;Integrated Security=SSPI;;" />-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.16.0.0" newVersion="6.16.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.16.0.0" newVersion="6.16.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.FileSystemGlobbing" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>