
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Website.cshtml"; ;
}

<link href="~/Content/css/CMS/Aboutus.css" rel="stylesheet" />
<img class="" src="~/Content/images/3Dimages/about us-5.png" style="width:100%" />
<img src="~/Content/images/3Dimages/AboutUs/Aboutusnew1.png" style="width:100%"/>
<img src="~/Content/images/3Dimages/AboutUs/aboutusnew2.png" style="width:100%"/>
@*<img src="~/Content/images/3Dimages/AboutUs/7.png" style="width:100%" />
    <img src="~/Content/images/3Dimages/AboutUs/aboutuscontent18.png" style="width:100%" />*@
<img src="~/Content/images/3Dimages/AboutUs/8.png" style="width:100%" />
<img src="~/Content/images/3Dimages/AboutUs/10.png" style="width:100%" />
<img src="~/Content/images/3Dimages/AboutUs/LastContent.png" style="width:100%" />

@*<img src="~/Content/images/3Dimages/AboutUs/9.png" style="width:100%"/>*@

@*<div class="home-container">
        <div class="about-us-heading-container">
            <img class="animation" src="~/Content/images/3Dimages/2.png" width="700px"/>
            <div>
                <div class="about-us-heading">About Us</div>
                <div>
                    <h3>System Integration</h3>
                    <p>
                        Plug and play integration to Payroll and ERP solutions with little or no
                        manpower requirements.
                    </p>
                    <h3> Loyalty & Productivity</h3>

                    <p>
                        Productivity, employee loyalty and staff turnover improves with offering
                        Earned Wage Access.
                    </p>
                    <h3>   Zero Cost</h3>
                    <p>
                        No impact on Employer’s cashflow.
                    </p>

                </div>
            </div>


        </div>
        <div class="info-container">
            <div class="about-us-content">
                <div>
                    <h3>No Interest Payment</h3>
                    <p>
                        No more expensive interest and overdraft charges. Pay your bills on time
                        without borrowing.
                    </p>
                    <h3>  Salary on Demand</h3>
                    <p>
                        Online real-time access to your earned wage whenever you need it.
                    </p>
                    <h3>AlertSave</h3>
                    <p>
                        AlertSave helps you plan and achieve your saving goals every time you spend.
                    </p>
                </div>

                <div>
                    <img class="animation2" src="~/Content/images/3Dimages/1.png" width="700px" />
                </div>
            </div>

        </div>
    </div>*@

