
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Website.cshtml";
}


<link href="~/Content/css/CMS/ContactUs.css" rel="stylesheet" />
<img class="animation" src="~/Content/images/3Dimages/ContactUs/contact us.png" style="width:100%"/>
<div class="home-container">
    <div class="contact-us-heading-container">
     @*   <img src="~/Content/images/3Dimages/5.png" class="contact-us-mg"/>*@
        <div class="animation">
            <div>
                <h3>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    +234 903 506 1611
                </h3>
                <h3>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    hello@paymasta.co
                </h3>
                <h3>
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    +234 903 506 1611
                </h3>
            </div>
        </div>


    </div>
    <div class="info-container">
        <div class="about-us-content">
            <div class="animation">
                @*<h3>Company address:</h3>
                <p>
                    No more expensive interest and overdraft charges. Pay your bills on time
                    without borrowing.
                </p>*@

            </div>

           @* <div>
              
                <img src="~/Content/images/3Dimages/6.png" width="700px" />
            </div>*@
        </div>

    </div>
</div>

