
@{
    ViewBag.Title = "Employer";
    Layout = "~/Views/Shared/_Website.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $(this).css("color", "#020202B3");
        $("#item-home").css("color", " #02020299");
        $("#item-pages").css("color", " #02020299");
        $("#item-elements").css("color", " #02020299");
        $("#item-news").css("color", " #02020299");
        $("#item-blog").css("color", " #02020299");

        $("#sidebar-item-home").css("color", " #02020299");
        $("#sidebar-item-portfolio").css("color", "#41B6E6");
        $("#sidebar-item-pages").css("color", " #02020299");
        $("#sidebar-item-elements").css("color", " #02020299");
        $("#sidebar-item-news").css("color", " #02020299");
        $("#sidebar-item-blog").css("color", " #02020299");

        $("#active-home-item").hide();
        $("#active-portfolio-item").show();
        $("#active-pages-item").hide();
        $("#active-elements-item").hide();
        $("#active-news-item").hide();
        $("#active-blog-item").hide();
    });
</script>

<link href="~/Content/css/CMS/Employer.css" rel="stylesheet" />
@*<div class="home-containers">

        <div class="img-container">
            <img class="employees-animation" src="~/Content/images/LandingPage/employee.png" style="width: 100%"/>
        </div>
        <div>

            <div class="employer-info-container">

                <div class="employer-img-container">

                    <img src="~/Content/images/3Dimages/Employees1.png" style="height: 698px; " />
                    <h3 class="employer-content-heading">
                        PayMasta partners with employers to
                        provide employees immediate access to
                        their salaries as soon as it’s earned rather
                        than waiting 30 days for payday. This is
                        at Zero cost to the employer and helps
                        boost employees productivity,
                        engagement, and loyalty.

                    </h3>

                </div>
            </div>

        </div>


    </div>*@
<img class="employees-animation" src="~/Content/images/LandingPage/employee.png" style="width: 100%" />

<img class="employees-animation2" src="~/Content/images/3Dimages/3D employer-2.png" style="width: 100%" />