
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Website.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
            $(this).css("color", "#020202B3");
            $("#item-portfolio").css("color", " #02020299");
            $("#item-home").css("color", " #02020299");
            $("#item-elements").css("color", " #02020299");
            $("#item-news").css("color", " #02020299");
            $("#item-blog").css("color", " #02020299");

            $("#sidebar-item-home").css("color", " #02020299");
            $("#sidebar-item-portfolio").css("color", "#02020299");
            $("#sidebar-item-pages").css("color", " #41B6E6");
            $("#sidebar-item-elements").css("color", " #02020299");
            $("#sidebar-item-news").css("color", " #02020299");
            $("#sidebar-item-blog").css("color", " #02020299");

            $("#active-home-item").hide();
            $("#active-portfolio-item").hide();
            $("#active-pages-item").show();
            $("#active-elements-item").hide();
            $("#active-news-item").hide();
            $("#active-blog-item").hide();
    });
</script>


<link href="~/Content/css/CMS/Employer.css" rel="stylesheet" />
@*<div class="home-containers">

        <div class="img-container">
            <img src="~/Content/images/LandingPage/Employee-2.png" style="width: 100%" />
        </div>
        <div>

            <div class="employees-info-container">

                <div class="employees-img-container">
                    <h3 class="employees-content-heading">
                        PayMasta gives employees the
                        opportunity to use a portion of their
                        monthly salary already earned in case of
                        an emergency, to pay bills or other
                        unexpected financial situations. This
                        reduces financial stress and the need for
                        expensive payday loans, overdrafts, or
                        credit cards.
                    </h3>
                    <img src="~/Content/images/3Dimages/Employees1.png" style="height: 698px; " />


                </div>
            </div>

        </div>


    </div>*@

<img class="employees-animation" src="~/Content/images/LandingPage/Employee-2.png" style="width: 100%" />

<img class="employees-animation2" src="~/Content/images/3Dimages/employeesNew.png" style="width: 100%" />