
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Website.cshtml";
}
<script src="~/Content/js/CMS/privacy_policy.js"></script>
<link href="~/Content/css/CMS/Employer.css" rel="stylesheet" />
<img class="employees-animation" src="~/Content/images/3Dimages/PP.png" style="width: 100%" />
<div class="web-details">
    <div id="privacyPolicyDetails" class="privacyPolicyDetails">
    </div>
</div>
