
@{
    ViewBag.Title = "PayMastaTermAndCondition";
    Layout = "~/Views/Shared/_Website.cshtml";
}
<script src="~/Content/js/CMS/terms_conditions.js"></script>
<link href="~/Content/css/CMS/Employer.css" rel="stylesheet" />

<img class="employees-animation" src="~/Content/images/3Dimages/T's&C's.png" style="width: 100%"/>

<div class="web-details">
    <div id="termsConditionDetails" class="termsConditionDetails"></div>
</div>