
@{
    ViewBag.Title = "Withdraw Requests";
}


<link href="~/Content/css/Employer/widthdrawrequest.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
<script src="~/Content/js/EmployerJs/WithdrawRequest.js"></script>

<div class="main_div">
    <div class="sec_div">
        <div class="drop_down">

            <div class="drop_select">
                <select name="cars" id="ddlStatus">
                    <option value="-1">Select</option>
                    <option value="0">Pending</option>
                    <option value="6">Hold</option>
                    <option value="3">Rejected</option>
                    <option value="1">Approved</option>
                </select>
            </div>
            @*<div class="date_option">
                    <div class="date_from">
                        From
                        <input type="text" class="to_date" id="txtFromDate">
                    </div>
                    <div class="date_from">
                        To
                        <input type="text" class="to_date" id="txtEnddate">
                    </div>
                    <div>
                        <button class="reset" id="btnReset">Reset</button>
                    </div>
                    <div>
                        <button class="filter" id="btnFilter">Fliter</button>
                    </div>
                </div>*@
            <div class="date_option">
                <div class="date_from">
                    <span>From</span>
                    <span style="position: relative; display: inline-block">
                        <input type="text" class="to_date" placeholder="MM/DD/YYYY" id="txtFromDate">
                        <i class="fa fa-calendar-check-o calender" aria-hidden="true" id="fromDateIcon"></i>
                    </span>
                    <div>
                        <span id="fromdateError" style="color:red"></span>
                    </div>

                </div>



                <div class="date_from">
                    <span class="">TO</span>
                    <span style="position: relative; display: inline-block">
                        <input type="text" class="to_date" placeholder="MM/DD/YYYY" id="txtEnddate">
                        <i class="fa fa-calendar-check-o calender" aria-hidden="true" id="toDateIcon"></i>
                    </span>
                    <div>
                        <span id="TodateError" style="color:red"></span>
                    </div>

                </div>

                @*<div class="date_from">
                        To
                        <input type="text" class="to_date" id="txtEnddate" placeholder="select date">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    </div>
                    <div>
                        <span id="TodateError" style="color:red"></span>
                    </div>*@
                <div>
                    <button class="reset" id="btnReset">Reset</button>
                </div>
                <div>
                    <button class="filter" id="btnFilter">Fliter</button>
                </div>
            </div>
        </div>
        <div class="tab_data">
            <div class="tab_data1">
                <div class="main_transaction">
                    <div class="text">
                        Transactions
                    </div>
                    <div class="sec_transaction">

                        <div>
                            <button type="button" class="csvexport" id="btnExportToCSV">Export To CSV</button>
                        </div>
                        <div class="search_icon">
                            <input type="search" placeholder="Search" class="search" id="txtSearch">
                            <img class="search-img" src="~/Content/images/Employer/search-line.svg" alt="">
                        </div>
                        <div>

                        </div>
                    </div>

                </div>
                <div class="table-overflow">
                    <table class="employer-withdrawal">
                        <thead>
                            <tr>
                                <th class="employer-withdrawal-head">
                                    <input type="checkbox" class="withdraw-request-check" id="checkAll">
                                    @*<label class="checkbox-container">
                <input type="checkbox" checked="checked" >
                <span class="checkmark" id="checkAll"></span>
            </label>*@
                                </th>
                                <th class="employer-withdrawal-head">S.No</th>
                                <th class="employer-withdrawal-head">Name</th>
                                <th class="employer-withdrawal-head">Staff Id</th>
                                <th class="employer-withdrawal-head">Phone Number</th>
                                <th class="employer-withdrawal-head">Email Id</th>
                                <th class="employer-withdrawal-head">Amt. Requested</th>
                                <th class="employer-withdrawal-head">Date</th>
                                <th class="employer-withdrawal-head">Employer Status</th>
                                <th class="employer-withdrawal-head" id="adminStatusth">Admin Status</th>
                            </tr>
                        </thead>

                        <tbody id="tblEmployees">
                        </tbody>
                    </table>

                </div>
                <div class="card" id="no-record-found">
                    <div class="card-body" style="text-align:center">
                        No record found.
                    </div>
                </div>
            </div>
        </div>



        <div class="pagination">
            <ul id="emplyr_pagination" class="pagination"></ul>
        </div>
        <div class="lower-button" id="lower_button">
            <div class="space-right">
                <button class="approve-btn" id="btnApprove">Approve</button>
            </div>
            <div class="space-right">
                <button class="reject-btn" id="btnReject">Reject</button>
            </div>
            <div>
                <button class="hold-btn" id="btnHold">Hold</button>
            </div>
        </div>

        <div class="pagination">
            <ul id="emplyr_pagination" class="pagination"></ul>
        </div>
    </div>
</div>



@*<script>
        $(document).ready(function () {
            $("#checkAll").click(function () {
                alert();
                $("input[name='withdrawRequest']").attr("checked", this.checked);

            });
        });
    </script>*@