
@{
    ViewBag.Title = "Employees Not Uploaded";
    // Layout = "~/Views/Shared/_Website.cshtml";
}
<link href="~/Content/css/Employer/emloyeescreen.css" rel="stylesheet" />
<div class="loader" id="loaderEmployees"></div>
<div class="main_div">
    <div class="sec_div">
        <div class="drop_down">
        </div>
        <div class="tab_data">
            <div class="tab_data1">
                <div class="main_transaction">
                    <div class="text">
                        Employees
                    </div>
                    <div class="sec_transaction">
                        @*<div class="drop_select2">
                            <select name="cars" id="dllBankList">
                                <option value="">Bank Detail</option>
                            </select>
                        </div>*@
                        @*<div>
                            <button type="button" class="csvexport" id="btnExportToCSV">Export To CSV</button>
                        </div>
                        <div class="search_icon">
                            <button class="paycycle" data-toggle="modal" data-target="#uploadUserListModal">Upload User List</button>
                            <img class="search-arrow" src="~/Content/images/Employer/arrow-line.png" alt="">
                        </div>*@
                        @*<div class="search_icon">
                            <input type="search" placeholder="Search" class="search" id="txtSearch">
                            <img class="search-img" src="~/Content/images/Employer/search-line.svg" alt="">
                        </div>*@
                        <div>
                        </div>
                    </div>

                </div>

                <div class="table-overflow">
                    <table class="employees-table">
                        <thead>
                            <tr>
                                <th class="employees-table-heading">S.No</th>
                                <th class="employees-table-heading">Name</th>
                                <th class="employees-table-heading">Staff Id</th>
                                <th class="employees-table-heading">Phone Number</th>
                                <th class="employees-table-heading">Email Id</th>
                                @*<th class="employees-table-heading">Status</th>*@
                                <th class="employees-table-heading">Date</th>
                                <th class="employees-table-heading">Action</th>
                            </tr>
                        </thead>

                        <tbody id="tblEmployeesError">
                        </tbody>

                    </table>



                </div>
                <div class="card" id="user-no-record_Uploaded">
                    <div class="card-body" style="text-align:center">
                        No record found.
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <ul id="emplyr_pagination" class="pagination"></ul>
        </div>

        @*<div class="pagination">
                <ul id="pagination-demo" class="pagination"></ul>
            </div>*@


        @*<div class="pagination" id="pagination">
                <div class="arrow_custom"><a href="#">&lt;</a></div>
                <a class="anch_tag" href="#">1</a>

                <div class="arrow_custom"> <a href="#">&gt;</a></div>
            </div>*@

        @*<div class="wrapper1">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-12">

                            <ul id="pagination-demo" class="pagination-sm"></ul>
                        </div>
                    </div>

                </div>
            </div>*@

    </div>
</div>


<script src="~/Content/js/EmployerJs/Employees.js"></script>
<script src="~/Content/js/plugins/jquery.twbsPagination.min.js"></script>
<script src="~/Content/js/plugins/jquery.twbsPagination.js"></script>