
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}



.butn {
    background-color: #F0F8FE;
    color: #3EA9F5;
    border-radius: 8px;
    border: none;
    padding: 9px;
}

/* header */

.main-content {
    display: none !important;
    /* / z-index: 1; / */
}

.side-bar {
    width: 100%;
    height: 100vh;
    box-shadow: 0px 2px 3px grey;
    background-color: #fff;
    position: absolute;
    right: 0px;
    z-index: 1;
}

.login-item {
    background-color: #F66847;
    border-radius: 20px;
    padding: 8px 29px;
    cursor: pointer;
}

.sign-col {
    color: black !important;
}

.cursor-pointer {
    color: #464646;
}

@media screen and (min-width: 992px) {
    .main-content {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    .menu-container {
        display: none !important;
    }

    .side-bar {
        display: none !important;
    }

    .cursor-pointer {
        cursor: pointer;
    }
}

/*Clearing Floats*/
/* .cf:before,
.cf:after {
    content: "";
    display: table;
} */

/* .cf:after {
    clear: both;
} */

/* .cf {
    zoom: 1;
} */

/* Form wrapper styling */

.search-wrapper {
    /* display: flex; */
    max-width: 380px;
    margin: 10px auto 50px auto;
    border-radius: 40px;
    background: transparent;
    box-shadow: 0 4px 20px -2px #e9e9e9;
    width: 100%;
    position: relative;
}

    /* Form text input */

    .search-wrapper input {
        /* padding-left: 20px; */
        /* width: 330px;
height: 20px;
float: left;   
font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma'; */
        padding: 8px 13px;
        border: 0;
        background: #fff;
        border-radius: 40px;
        border-top-style: none;
    }

        .search-wrapper input:focus {
            outline: 0;
            background: #fff;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
        }

        .search-wrapper input::-webkit-input-placeholder {
            color: #999;
            font-weight: normal;
        }

        .search-wrapper input:-moz-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }

        .search-wrapper input:-ms-input-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
            border-style: none;
        }

    /* Form submit button */
    .search-wrapper button {
        overflow: visible;
        position: absolute;
        right: 0;
        top: 0px;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        padding: 0px 40px;
        /* width: 110px; */
        font-weight: 500;
        color: #fff;
        background: #32A4FC;
        border-radius: 40px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    }

        /* .search-wrapper button:hover {
        background: #e54040;
} */

        .search-wrapper button:active,
        .search-wrapper button:focus {
            background: #198cff;
            outline: 0;
        }

            .search-wrapper button:focus:before,
            .search-wrapper button:active:before {
                border-right-color: #c42f2f;
            }

        .search-wrapper button::-moz-focus-inner {
            /* remove extra button spacing for Mozilla Firefox */
            border: 0;
            padding: 0;
        }

.face {
    background: #3EA4FF;
    color: white;
}

.sections {
    padding: 0px 35px;
}
/* section1 */
.section1 {
    padding: 20px 30px;
}

.image {
    height: 100%;
    width: 100%;
}

.main {
    margin-top: 85px;
}

.para {
    color: #9199A2;
    font-size: 15px;
}

/* section2 */
.para1 {
    color: #3997EF;
    font-size: 15px;
    margin: 0;
    font-weight: 600;
}

.custom {
    font-weight: 700;
    font-size: 35px;
}

.para2 {
    color: #9199A2;
}

.wallwet {
    /* margin-top: 30px; */
}
/* section6 */
.download__wrapper {
    background-color: #F4F5FA;
    padding: 80px 0px 0px;
}

.download--container {
    width: 90%;
    margin: auto;
    position: relative;
}

.content {
    padding-left: 60px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .content h4 {
        max-width: 330px;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 20px;
    }

    .content p {
        max-width: 330px;
        font-size: 14px;
        color: #9199A2;
        line-height: 1.5;
    }

.image-content {
    position: absolute;
    max-height: 400px;
    overflow-y: hidden;
    text-align: right;
    top: 0px;
    right: 0px;
}

.img-small {
    width: 75%;
}

.image-content img {
    width: 75%;
}

.play-store {
    padding-left: 50px;
}

.line {
    width: 1px;
    height: 70px;
    background-color: #9199A2;
}
/* footer */
li, a {
    color: #9199A2;
    margin-top: 5px;
    font-size: 13px;
}

h5 {
    font-size: 15px !important;
    font-weight: 600 !important;
}

.logo-img {
    width: 100px;
    height: 100px;
}

.head4 {
    font-weight: 500;
    /* width: 220px; */
    color: #32A4FC;
}

.para-foot {
    color: #707070;
    margin: 0px;
    font-size: 14px;
    margin-top: 23px;
    margin-left: 90px;
}

.socialicon {
    margin-top: 12px;
}

    .socialicon img {
        width: 44px;
        height: 37px;
        margin: 3px;
    }

.custom_image img {
    background-color: #3997EF;
    padding: 7px;
    border-radius: 50%;
}

.text-col {
    margin-top: 53px;
}

.footer-sec {
    padding: 28px 75px 10px 75px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 0px 127px 0px 117px;
}

span {
    color: #9199A2;
    font-size: 13px;
}

.com {
    color: #9199A2;
    font-size: 13px;
}

.line-bot {
    padding: 0px 129px;
    color: #00000029;
}

.row-image {
    width: 558px;
}

@media(max-width:880px) {
    .row-image {
        width: 300px !important;
    }

    .img-small {
        width: 55% !important;
    }

    .para-foot {
        margin-left: 0px;
    }
}

@media(max-width:340px) {
    .custom {
        font-size: 25px;
    }

    .search-wrapper button {
        width: 110px;
    }
}

@media(max-width:400px) {
    .socialicon img {
        margin: 4px !important;
    }
}

@media(max-width:576px) {
    .bottom {
        flex-direction: column;
        padding: 0px 127px 0px 97px;
    }

    .com {
        margin-bottom: 5px;
    }

    .terms {
        margin-left: 0px !important;
    }

    .line-bot {
        padding: 0px 87px;
    }
}

@media(max-width:940px) {
    .content {
        flex-direction: column !important;
    }

    .line {
        display: none;
    }

    .image-content {
        position: relative;
        text-align: left;
    }
}

@media(max-width:768px) {
    .search-wrapper {
        margin: 0px;
    }
}

@media(max-width: 980px) and (min-width: 768px) {
    .search-wrapper {
        width: 300px !important;
    }

    .check-img {
        width: 24px !important;
    }
}
