
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;
}

.modal-body {
    padding: 0rem !important;
}

.mobile-label {
    color: #79797977;
}

.modal-content {
    border: none;
    border-radius: 11px;
    box-shadow: none;
}

.heading {
    font-weight: bold;
    font-size: 26px;
}

.sub-heading {
    color: #464646;
    opacity: 0.5;
    font-size: 14px;
}

.login-input-text {
    padding-left: 10px;
    width: 290px;
    height: 54px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #797979;
    border-radius: 10px;
    font-size: 12px;
}

.label {
    padding: 0px 2px;
    top: -8px;
    left: 10px;
    background-color: white;
    font-size: 12px;
    z-index: 1;
    color: #130F26;
}

.login-radio-label {
    padding: 0px 14px 0px 4px;
}

.login-grid-container {
    height: 577.91256px;
    display: grid;
    grid-template-columns: 100%;
    align-items: center
}

.login-input-container-height {
    height: 82px;
}

.login-body-content {
    /*padding: 100px 0px;*/
}

.country-code {
    padding-left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}

.mobile-input-padding-left {
    padding-left: 40px;
}

.login-background {
    height: 100%;
    background-color: #32A4FC;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    display: none;
}

.abc {
    top: 50%;
    transform: translateY(-50%);
}

.not-member {
    font-size: 17px;
    font-weight: bold;
}

.sub-content {
    font-size: 13px;
}

.login-modal-signup-btn {
    padding: 6px 32px;
    background-color: #32A4FC;
    border-radius: 10px;
    font-size: 12px;
    border: 2px solid #FFFFFF;
}

.img-eye {
    top: 50%;
    right: 1.5%;
    transform: translate(-50%, -50%);
}

.login-forgot-pswd-text-container {
    width: 290px;
    margin: auto;
    position: relative;
    bottom: 14px;
}

.paymasta-login-btn {
    width: 290px;
    background: #F86847;
    border: 1px solid #F86847;
    border-radius: 10px;
    font-size: 18px;
}

/*.close-btn-container {
    position: absolute;
    right: 0px;
    top: 0px;
}*/
close-btn-container {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}


#forgetPasswordAnchor {
    text-decoration: none;
}

#forgetPasswordAnchor:hover {
    color: #32A4FC;
}

.forget-pswd {
    color: #32A4FC;
    font-size: 13px;
    cursor: pointer;
}

/*#loginModal .btn-close {
    filter: brightness(0) invert(1);
    opacity: 1;
}*/

@media (min-width: 420px) {
    .login-input-text {
        width: 345px;
    }

    .forget-pswd {
        width: 345px !important;
    }

    .paymasta-login-btn {
        width: 345px !important;
    }

    .login-forgot-pswd-text-container {
        width: 345px !important;
    }
}

@media (min-width: 576px) {
    #loginModal .modal-dialog {
        max-width: 900px !important;
        width: 100% !important;
        padding: 0px 10px;
    }
}

@media (min-width: 800px) {
    #loginModal .btn-close {
        filter: brightness(0) invert(1);
        opacity: 1;
    }
    .login-grid-container {
        grid-template-columns: 64% 36% !important;
    }

    .login-background {
        display: block !important;
    }
}

.radio {
}

    .radio input[type="radio"] {
        position: absolute;
        opacity: 0;
    }

        .radio input[type="radio"] + .login-radio-label:before {
            content: '';
            /* background: #f4f4f4;*/
            border-radius: 100%;
            border: 1px solid #b4b4b4;
            display: inline-block;
            width: 1em;
            height: 1em;
            position: relative;
            top: 0.27em;
            margin-right: 0.4em;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
            cursor: pointer;
        }

        .radio input[type="radio"]:checked + .login-radio-label:before {
            background-color: #f26847;
            box-shadow: inset 0 0 0 2px #f4f4f4;
            border: 1px solid #f26847;
        }

        .radio input[type="radio"]:focus + .login-radio-label:before {
            outline: none;
            border-color: #f26847;
            border: 1px solid #f26847;
        }

        .radio input[type="radio"] + .login-radio-label:empty:before {
            margin-right: 0;
        }

/*----------------*/
.radio1 input[type="radio"] {
    position: absolute;
    opacity: 0;
}

    .radio1 input[type="radio"] + .login-radio-label:before {
        content: '';
        /* background: #f4f4f4;*/
        border-radius: 100%;
        border: 1px solid #b4b4b4;
        display: inline-block;
        width: 1em;
        height: 1em;
        position: relative;
        top: 0.27em;
        margin-right: 0.4em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
        cursor: pointer;
    }

    .radio1 input[type="radio"]:checked + .login-radio-label:before {
        background-color: #f26847;
        box-shadow: inset 0 0 0 2px #f4f4f4;
        border: 1px solid #f26847;
    }

    .radio1 input[type="radio"]:focus + .login-radio-label:before {
        outline: none;
        border-color: #f26847;
        border: 1px solid #f26847;
    }

    .radio1 input[type="radio"] + .login-radio-label:empty:before {
        margin-right: 0;
    }
