
@{
    ViewBag.Title = "Earned Amount";
}
<link href="~/Content/css/EarnedAmountCss/EarnedAmount.css" rel="stylesheet" />
<div class="acess-wage">
    <div class="p-3">
        <div class="main-back ">
            <div class="row">
                <div class="col-md-5 padding-bottom">
                    <div class="p-5 first-box">
                        <h3 class="num_text">₦ 40,00</h3>
                        <p class="text earned-amount-text">Earned amount so far</p>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="second-box">
                        <div class="sec_data">
                            
                                <h3 class="num_text_color">20</h3>
                                <p class="text">Hours Worked</p>
                          
                        </div>
                        <div class="more-scheduled-container">
                    
                                <h3 class="num_text_color">10</h3>
                                <p class="text">More Scheduled</p>
                            
                        </div>
                    </div>
                    @* <div class="row p-5 second-box">
            <div class="col-md-5 sec_data">
                <div class="">
                    <h3 class="num_text_color">20</h3>
                    <p class="text">Hours Worked</p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="">
                    <h3 class="num_text_color">10</h3>
                    <p class="text">More Scheduled</p>
                </div>
            </div>
        </div>*@
                </div>

            </div>
            <!-- calendar -->
            <div class="calendar mt-2 mb-3 padding">
                <div class="data">
                    <div class="inner_data p-3">
                        <p class="para">Jan </p>
                        <p class="para1 mt-1">22</p>
                    </div>
                </div>
                <div class="data1">
                    <div class="inner_data p-3">
                        <p class="para">Jan </p>
                        <p class="para1 mt-1">23</p>
                    </div>
                </div>
                <div class="data1">
                    <div class="inner_data p-3">
                        <p class="para"> Jan</p>
                        <p class="para1 mt-1">24</p>
                    </div>
                </div>
                <div class="data1 ">
                    <div class="inner_data p-3">
                        <p class="para"> Jan</p>
                        <p class="para1 mt-1">25</p>
                    </div>
                </div>
                <div class="data1 ">
                    <div class="inner_data p-3">
                        <p class="para">Jan </p>
                        <p class="para1 mt-1">26</p>
                    </div>
                </div>
                <div class="data1">
                    <div class="inner_data p-3">
                        <p class="para">Jan </p>
                        <p class="para1 mt-1">27</p>
                    </div>
                </div>
                <div class="data1 ">
                    <div class="inner_data p-3">
                        <p class="para">Jan </p>
                        <p class="para1 mt-1">28</p>
                    </div>
                </div>
                <div class="data1 ">
                    <div class="inner_data p-3">
                        <p class="para">Jan </p>
                        <p class="para1 mt-1">29</p>
                    </div>
                </div>
                <div class="data1 ">
                    <div class="inner_data p-3">
                        <p class="para">Jan </p>
                        <p class="para1 mt-1">30</p>
                    </div>
                </div>
                <div class="data1 ">
                    <div class="inner_data p-3">
                        <p class="para">Jan </p>
                        <p class="para1 mt-1">31</p>
                    </div>
                </div>
                <div class="data1 ">
                    <div class="inner_data p-3">
                        <p class="para">Jan </p>
                        <p class="para1 mt-1">01</p>
                    </div>
                </div>
                <div class="data1">
                    <div class="inner_data p-3">
                        <p class="para">Jan </p>
                        <p class="para1 mt-1">02</p>
                    </div>
                </div>
                <div class="data1 ">
                    <div class="inner_data p-3">
                        <p class="para">Jan </p>
                        <p class="para1 mt-1">03</p>
                    </div>
                </div>

            </div>
            <!-- lastsection -->
            <div class="p-2 ">
                <div class="list_section p-3">
                    <div class="line">
                        <div>
                            <span class="day"> Mon</span> <br>
                            <span class="date">01/24</span>
                        </div>
                        <div class="hour">5 hr</div>
                        <div class="pos-num">+500.45</div>
                    </div>
                    <div class="line">
                        <div>
                            <span class="day"> Mon</span> <br>
                            <span class="date">01/24</span>
                        </div>
                        <div class="hour">5 hr</div>
                        <div class="pos-num">+500.45</div>
                    </div>
                    <div class="line">
                        <div>
                            <span class="day"> Mon</span> <br>
                            <span class="date">01/24</span>
                        </div>
                        <div class="hour">5 hr</div>
                        <div class="pos-num">+500.45</div>
                    </div>
                    <div class="line">
                        <div>
                            <span class="day"> Mon</span> <br>
                            <span class="date">01/24</span>
                        </div>
                        <div class="hour">5 hr</div>
                        <div class="pos-num">+500.45</div>
                    </div>
                    <div class="line">
                        <div>
                            <span class="day"> Mon</span> <br>
                            <span class="date">01/24</span>
                        </div>
                        <div class="hour">5 hr</div>
                        <div class="pos-num">+500.45</div>
                    </div>
                    <div class="line">
                        <div>
                            <span class="day"> Mon</span> <br>
                            <span class="date">01/24</span>
                        </div>
                        <div class="hour">5 hr</div>
                        <div class="pos-num">+500.45</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

